* {
  font-family: "Alegreya", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: "Nunito", system-ui;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 35px;
  background: #0c3859;
  background: linear-gradient(
    25deg,
    rgba(12, 56, 89, 1) 4%,
    rgba(138, 233, 235, 1) 89%
  );
  gap: 15px;
}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 15px;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

header button {
  border-radius: 14px;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
}

header button:hover {
  opacity: 0.7;
}

header button,
header input {
  padding: 15px 15px;
  border: none;
  outline: none;
}

header input {
  background: #dce8e8;
}

header button {
  background: #3272a3;
  color: #dce8e8;
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 30px 0px 30px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-radius: 15px;
  background: #dce8e8;
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}

.fa-pen-to-square,
.fa-trash {
  color: #3272a3;
}

@media (min-width: 640px) {
  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}
